{% extends "base.html" %}
{% load static %}

{% block title %}
Freelance Developer
{% endblock %}


{% block css_files%}
<link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}" />
{% endblock %}

{% block content %}

    <div>
        <section class="set-background">
            <p>pppppppppp</p>
        </section>

    </div>

    <div class ="set-head">
        <img src="{% static 'mainpage/image/head_image.jpg'%}" alt = "image">
        <h1>Full Stack and AI/ML Developer</h1>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col-12">
                <a  class = "btn btn-success w-100" href="#"><h4>HIRE ME!!!</h4></a>
            </div>

        </div>

    </div>






{% endblock %}